chck {
    display: inline-block;
    background: #dedbde;
    color: #000000;
    border: 2px outset #e8e8e8;
    border-radius: 15px 30px 30px 15px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 1em;
    /* Fonts */
    font-weight: bold;
    font-size: 1em;
    letter-spacing: -0.15em;
    word-spacing: 0.5em;
    text-shadow: 2px 2px 5px #ffffff; 
}

chck input {
    margin-left: 0.25em;
    height: 1em;
}
